 {%extends "base.html" %}
 
 {% block title %}Welcome{% endblock %}

 {% block content %}

    <h1>Welcome to the Meeting Planner App!</h1>

    <p>
        This is the a demo application for a  <em>Django Project</em>
    </p>

    <h2>Meetings</h2>

    <ul>
        {% for meeting in meetings %}

        <li>
            <a href="{% url 'detail' meeting.id %}">
                {{ meeting.title }}
            </a>
        </li>

        {% endfor %}
    </ul>

    <a href="{% url 'rooms' %}">Rooms List</a>

{% endblock %}